nav {
    background-color: rgb(34, 136, 136);
    display:flex ;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    color: white;
}
body {
    margin: 0;
}

.container {
    margin: 20px 32px;
    display: flex;
    justify-content: left;
  
}
.textarea {
    margin: 30px;
}
.content  {
    display: flex;
    justify-content: left;
    margin: 100px;
}